* {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-size: calc(10px + 0.33vw);
    background-color: black;    
}

.container {
    -webkit-font-smoothing: antialiased;
    padding: 5vh 10vw !important;
    color: #42b983;
  }

  h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 0;
  }

  p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
  }

  #header{
      position:fixed;
      height: 3rem;
      display:flex;
      justify-content: space-between;
      width: 85%;
      left: 10%;
      margin: auto;
      background: black;
      z-index:9;
      color: #42b983;
      padding: 20px 0 0 0;
      align-items: center;
  }

  .logo{
      display: flex;
  }

  .icons{
      display: flex;
      flex-direction: row;
  }


  a:link {
      color: #42b983;
  }

  a:visited {
      color: #42b983;
  }

  a:hover {
      color:aliceblue;
  }